### REACT ###

# Ignore node_modules inside the client folder
client/node_modules/

# Ignore package-lock.json inside the client folder
client/package-lock.json

# Ignore all .DS_Store file
**/.DS_Store


### FLASK ###

# Ignore __pycache__ folder
server/**/__pycache__/
node_modules
