:root{
  --base:#23434f;
  --select:#12262e;

  /* shades of blue color */
  /* --tabs:#244c5c;
  --bg1:#5aa2be;
  --bg2:#a3cbdb; */

/* shades of grey color */
--tabs: #808e9a;
  --bg1: #D3D7DB;
  --bg2: #bebebe;

}
.toastbody{
  width: 100%;
}

#savedConnName{
  text-decoration: none;
  
}

/* NeumorphicCard.css */

/* styles.css */

/* NeumorphicCard.css */

.neumorphic-card {
  border: none;
  border-radius: 25px;
  background-color: #ebeef1;
  box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16), -10px -10px 10px -1px rgba(255,255,255,0.70);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 10px 10px 20px #c0c0c0, -10px -10px 20px #ffffff;
  }
}

.nowrap-button {
  white-space: nowrap;
  /* padding: 2px; */
  margin: 0;
  font-size: 15px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.card-img-top {
  height: 100px;
  width: 435px;
}

#card-img-top {
  height: 100px;
  width: 435px;
}

#cards {
cursor: pointer;
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-height: xxx;
  overflow: hidden;
  max-width: 435px;

transition: ease all 0.2s;
}
#cards:hover{
  background-color:#ebeff9;
}

.tiles {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  gap: 12px;
  padding-bottom: 5px;
  flex-wrap: wrap;

}

.card-text {
  font-size: 10px;
}

.loginleft {
  width: 70%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #23434f;
  background-image: url(../public/images/bgf.gif);
  background-size: cover;
  background-repeat: no-repeat;
}


.dblimg {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 100px;
  height: 100px;
}
#email{
  background-color: #212529;
  border: none;
  color: white;
  box-shadow: inset 1px 1px 2px #00000040, -5px -5px 8px #00000040, 5px 5px 10px #00000040;
    transition: box-shadow 0.3s ease-in-out;
  
    
}
#passwordl{
  background-color: #212529;
  border: none;
  color: white;
  box-shadow: inset 1px 1px 2px #ffffff40,inset -5px -5px 8px #00000040, 5px 5px 10px #00000040;
    transition: box-shadow 0.3s ease-in-out;
  
    
}

.loginright {
  width: 30%;
  height: 100%;
  overflow: auto;

  padding: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #212529;

}

.text {
  display: block;
  margin: auto;
  margin-top: 150px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px;
  color: white;
}



body{
  background-color: #ebeef1;
}



.logincontainer {
  display: block;
  margin: auto;
  margin-top: 100px;
  padding: 1.25rem;


}

.heading{
  padding-top: 20px;
}

.centerconsole {
  background-color: #ebeef1;
  width: auto;
  margin-top: 80px;
  margin-left: 260px;
  padding-bottom: 50px;
  padding-right: 20px;
}

.sidebar {
  width: 20%;
  height: 100%;
}

li {
  /* margin-bottom: 20px; */
  font-weight: 700;
}

/* .links::before{
  content: "";
  position: absolute;
  right: 0;
  height: 3px;
  width: 0%;
  background-color: white;
  transition: all ease 1s;

}
.links:hover::before{
  width: 100%;
  background-color: var(--select);
}
.links::after{
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: white;
  transition: all ease 1s;

}
.links:hover::after{
  width: 100%;
  background-color: var(--select);
} */
.dropdown {
  margin-right: 100px;
  
}

.dropdown-item{
cursor: pointer;
}
.searcher{
position: sticky;
/* margin-top: 50px; */
  top: 0px;
  z-index: 1000;

  
}
.searchbox {
display: flex;

  justify-content: space-between;
  padding-block: 12px;
}

.console{
  margin-top: 0%;
}

.Ltext {
  text-decoration: none;
  color: white;
  font-weight: 800;
  margin-left: 25px;
}

.Ltext {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* Remove default link underline */
  margin-left: 10px;
  /* Set text color */
}

.image-container {
  display: flex;
  align-items: center;
}

.separator {
  height: 30px;
  /* Adjust the height of your separator line */
  width: 2px;
  /* Adjust the width of your separator line */
  background-color: #ccc;
  /* Color of the separator line */
  margin: 0 10px;
  /* Adjust the margin to control the space between images and separator */
}
.separator2 {
  height: 90px;
  /* Adjust the height of your separator line */
  width: 4px;
  /* Adjust the width of your separator line */
  background-color: #ccc;
  /* Color of the separator line */
  margin: 0 15px;
  /* Adjust the margin to control the space between images and separator */
}


.ingestionContainer{
  margin:10px;
  background-color: #61dafb;
}
.loadDivs{
  border-radius: 0px 10px 10px 10px;
  border:1px solid gray;
  border-top: none;
  background-color:var(--bg2);
      width: max-content;
      padding: 10px;
}
.power{
  margin-left: 25px;
  color:white;
  height: auto;
  width:auto;
  /* position: 'fixed'; 
  bottom: 0;
  left: 0;
  right: 0 */
}


.tabbuttons{
  background-color: #808E9A;
  border-color: #808E9A;
}

.navjdb{
  background-color: var(--tabs);
      padding-left: 20px;
      padding-right:20px;
      border-radius:10px 10px 0px 0px;
      color: white;
      padding-top: 5px;
      
}

.navjdbcactive{
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  border-radius: 10px 10px 0px 0px;

  background-color: var(--bg1);
}

.loadtab{
  background-color:var(--tabs);
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  padding-top: 5px;
    border-radius: 10px 10px 0px 0px;
}
.loadtabactive{
  background-color: var(--bg2);
  color: black;
  padding: 5px;
  padding-left: 20px;
    padding-right: 20px;
  border-radius: 10px 10px 0px 0px;

}

.links li i{
  font-size: 25px;
    margin: 10px;
}

.navbar1{
  border-radius: 10px 10px 0px 0px;
}

.view{
  margin: 0;
  padding: 10;
  padding-left: 5px;
  border-radius: 0px 0px 10px 10px;
  /* border: 1px solid black; */
  background-color:var(--bg1);
}
.viewIngestion{
  margin: 0;
  padding: 10;
  padding-left: 5px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid black;
  border-top: none;
  background-color: var(--bg1);
}
.menuItem{
  margin-top: 50px;
  margin-left: -30px;
}
.links{
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin: auto;
  padding-bottom: 20px;
  
}
.links li:hover {
  text-decoration: underline;
  cursor: pointer;
  /* background-color:var(--select) ; */
  background-color:rgb(35, 67, 79)  !important;
  transition: ease-in-out all 0.5s;
  /* Optional: Change the cursor to a pointer on hover */
}
.links .menuItem:hover{
  background-color:rgb(35, 67, 79) !important ;
}
ul{
  list-style: none;
}